<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<div class="mother-feature">
  <hr>
    <ul id="articles">
      <% @articles.each do |article| %>
        <li>
          <%= article.image %>
        </li>
        <li>
          <%= article.title %>
          <%= article.text %>
        </li>
      <% end %>
    </ul>
    <% @categories.each do |category| %>
        <%= link_to category.name, articles_path(:cate => category.id) %>
    <% end %>
</div>
