/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

h1,
h2,
h3 {
	font-family: "Open Sans", sans-serif;
}
// Gradient provided by @ https://uigradients.com/#MoonlitAsteroid
.landing-banner {
	background: #e0eafc;
	background: linear-gradient(to right, #cfdef3, #e0eafc);
	margin-top: -20px;
}

.navbar {
	background: #0f2027; /* fallback for old browsers */
	background: linear-gradient(to right, #9c1027, #311341, #2b0c41);
}

.navbar-brand {
	font-family: "Didot";
	font-weight: 800;
	font-size: 30px;

    &:hover {
        color: grey;
        text-decoration: underline;
		opacity: 0.8;
	}
}

body .navbar .navbar-nav .nav-link {
    margin-left: 40px;
	color: white;

	&:hover {
        color: grey;
        text-decoration: underline;
		opacity: 0.8;
	}
}

.navbar .navbar-toggler {
	color: white;
	border: 2px solid #f5f5f5;

	&:hover,
	&:focus {
		color: whitesmoke;
		opacity: 0.75;
	}
}

.jumbotron {
	background: #0f2027; /* fallback for old browsers */
	background: linear-gradient(to right, #8A2387, #E94057, #F27121);
	color: #fff;
}

#show {
    background-color: black;
}


